useDotenv: true
org: ${env:ORG}
service: notes-api

provider:
  name: aws
  runtime: nodejs20.x
  region: eu-north-1
  profile: ${env:PROFILE}
  iam:
    role: ${env:IAM_Role}
  environment:
    JWT_SECRET: ${env:JWT_SECRET}
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: 1

functions:
  signup:
    handler: auth/signup.handler
    events:
      - httpApi:
          path: /auth/signup
          method: post

  signin:
    handler: auth/signin.handler
    events:
      - httpApi:
          path: /auth/signin
          method: post

  createNote:
    handler: functions/createNote.handler
    events:
      - httpApi:
          path: /notes
          method: post

  listNotes:
    handler: functions/listNotes.handler
    events:
      - httpApi:
          path: /notes
          method: get

  getNote:
    handler: functions/getNote.handler
    events:
      - httpApi:
          path: /notes/{id}
          method: get

  updateNote:
    handler: functions/updateNote.handler
    events:
      - httpApi:
          path: /notes/{id}
          method: put

  deleteNote:
    handler: functions/deleteNote.handler
    events:
      - httpApi:
          path: /notes/{id}
          method: delete

resources:
  Resources:
    NotesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: notes-table
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
          - AttributeName: userId
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        GlobalSecondaryIndexes:
          - IndexName: userId-index
            KeySchema:
              - AttributeName: userId
                KeyType: HASH
            Projection:
              ProjectionType: ALL
        BillingMode: PAY_PER_REQUEST

    UsersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: users-table
        AttributeDefinitions:
          - AttributeName: email
            AttributeType: S
          - AttributeName: userId
            AttributeType: S
        KeySchema:
          - AttributeName: email
            KeyType: HASH
        GlobalSecondaryIndexes:
          - IndexName: userId-index
            KeySchema:
              - AttributeName: userId
                KeyType: HASH
            Projection:
              ProjectionType: ALL
        BillingMode: PAY_PER_REQUEST
